# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# ENV (CRITIQUE)
# =========================
.env

# =========================
# LOGS
# =========================
*.log

# =========================
# SYSTEM
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/